.sidebar-brand, .sidebar-brand:hover {
    padding: 1rem;
    background: #28304e;
    font-size: 1.175rem;
    font-weight: 500;
    color: #fff;
    width: 100%;
    display: block;
    text-decoration: none;
}
.sidebar-content, .sidebar-nav {
    background: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
    height: 100%;
    min-height: 100%;
    flex-direction: column;
}
.sidebar-user {
    padding: 1.5rem 1rem 1rem;
    background: #fff;
    color: #28304e;
    text-align: center;
}
.sidebar-user img {
    width: 64px;
    height: 64px;
}

.sidebar-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    flex: 1;
}

.sidebar-content, .sidebar-nav {
    background: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.sidebar-header {
    background: transparent;
    color: #adb5bd;
    padding: .375rem 1.5rem;
    font-size: .75rem;
    font-weight: 500;
    text-transform: none;
}
.main {
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    -webkit-transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
    transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
}

@media (max-width: 991px){
    .main {
        overflow-y: hidden;
        width: 100vw;
        min-width: 100vw;
    }
}

nav.navbar.navbar-dark.bg-dark {
    background-color: #28354e !important;
}
.navbar-dark .navbar-toggler {
    border: 0;
}

.main_header {
    position: relative;
    margin-bottom: 3rem;
}

h1.header-title {
    color: white;
    font-size: 2rem;
}

@media (min-width: 1200px){
    .col-xl-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.content {
    margin-top: 3rem;
    padding: 0 .5rem;
}

@media (min-width: 992px){
    .content {
        padding: 0 1.5rem;
    }
    
}

.container_card{
    margin-bottom: 5%
}
.card {
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
    border:0px
}
.spinnerClass{
    width: 100%;
    height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.description{
    margin-bottom: 2rem;
    padding: 0 15px;
}

.logout{
    /* border: none;
    padding: 6px;
    background-color: #0a0a0a;
    border-radius: 7px;
    width: 50%;
    border-radius: 6px;
    color: white;
    margin-bottom: 5%; */
    outline: none;
}

button[type="submit"]:disabled{
    cursor: wait;
}
.hidden {
    display: none;
  }