/* .logout{
    border: none;
    padding: 6px;
    background-color: #0a0a0a;
    border-radius: 7px;
    width: 50%;
    border-radius: 6px;
    color: white;
    margin-bottom: 5%;
    outline: none;
}

button[type="submit"]:disabled{
    cursor: wait;
} */