.wrapper:before {
    width: 100%;
    height: 264px;
    position: absolute;
    top: 0;
    left: 0;
    background: #28354e;
    content: " ";
}
.wrapper {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}