.main_sidebar {
    min-width: 250px;
    max-width: 250px;
    -webkit-transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
    transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
    background: transparent;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
    border: 0px;
    z-index: 1;
}


@media (max-width: 991.98px) and (min-width: 1px){
.toggled {
    margin-left: 0 !important;
    }
}

@media (max-width: 991px) and (min-width: 1px){
    .main_sidebar {
        margin-left: -250px;
    }
}

.toggled{
    margin-left: -250px
}

.sidebar-link, a.sidebar-link {
    display: block;
    padding: .65rem .75rem;
    color: #050505;
    font-weight: 400;
    background: transparent;
    border-radius: .2rem;
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    text-align: initial;
}

.sidebar-user:hover,.sidebar-link, a.sidebar-link:hover {
    background-color: #28354ee3;
    color: white;
    border-radius: 0;
}
.sidebar-user{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: gainsboro;
    cursor: pointer;
}
.active{
    box-shadow: inset 0.1875rem 0 0 #28304e;
    background-color: #afb5ee;
    color: #28304e;
}
.user-avatar{
    max-width: 2.5rem;
}