.signup{
    margin: 9% auto 0 auto;
    z-index: 1;
    border-radius: 5px;
}

@media (max-width: 576px){
    .signup {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.signup_page_login-btn{
    margin-top: 38px;
    width: 100%;
    background-color: black;
    color:white;
    outline:none;
}

.header_signup {
    margin: 0 auto;
    width: 50%;
    padding: 3% 0;
    font-weight: bold;
    box-shadow: 0 9px 7px -8px black;
}
.signupFailure{
    color: red;
    padding-top: 5%;
    font-weight: bold;
}

.signupSuccess{
    color: green;
    padding-top: 5%;
    font-weight: bold;
}

.name, .email, .password{
    width: 94%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    margin-top: 5%;
    border-bottom: 1px solid #00000036;
    outline: none;
}


.Container_input{
    padding: 10%;
}
.failure{
    box-shadow: 1px 0px 15px red;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.success{
    box-shadow: 1px 0px 15px green;
}


input::placeholder {
    font-size: small;
    font-family: initial;
}

.inputError{
    color: red;
    font-size: 11px;
    text-align: start;
    padding-left: 7px;
}

.submit_signup{
    border: none;
    padding: 6px;
    background-color: #0a0a0a;
    border-radius: 7px;
    width: 50%;
    border-radius: 6px;
    color: white;
    margin-bottom: 5%;
    outline: none;
}

